@{
    ViewBag.Title = "编辑";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@section Head{

}
<script src="/Content/scripts/plugins/touchTouch/touchTouch.jquery.js"></script>
<link href="/Content/scripts/plugins/touchTouch/touchTouch.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/ueditor/ueditor.config.js"></script>
<script src="~/Content/scripts/plugins/ueditor/ueditor.all.js"></script>
<script>
    var _ImageList = [];
    var editor;
    var dtips;
    var keyValue = request('keyValue');
    $(function () {
        InitialPage();
        dtips = $("#destips");
        initRichTextEditor();
        InitControl();
        $("#btn_finish").bind("click", function () {
            AcceptClick();
        })
    });

    function initRichTextEditor() {
        eidtor = UE.getEditor('Content',
            {
                initialFrameHeight: "300"
            });
        eidtor.addListener('contentChange', function () {
            //    editor.sync();
            dtips.hide();
        });
        //同步内容
        eidtor.addListener("blur", function () {
            eidtor.sync();
            var content = eidtor.getContent();
            if (content.length < 1) {
                dtips.show();
            } else {
                dtips.hide();

            }
        })
        //eidtor.ready(function () {
        //    eidtor.setHeight(320);
        //});

    };
    //初始化数据
    function InitControl() {
        //省份
        $("#ProvinceId").ComboBox({
            url: "/SystemManage/Area/GetAreaListJson",
            param: { parentId: "0" },
            id: "AreaCode",
            text: "AreaName",
            description: "选择省",
            height: "170px",
            allowSearch: true
        }).bind("change", function () {
            var value = $(this).attr('data-value');
            $("#CityId").ComboBox({
                url: "/SystemManage/Area/GetAreaListJson",
                param: { parentId: value },
                id: "AreaCode",
                text: "AreaName",
                description: "选择市",
                height: "170px"
            });
        });
        //城市
        $("#CityId").ComboBox({
            description: "选择市",
            height: "170px"
        }).bind("change", function () {
            var value = $(this).attr('data-value');
            if (value) {
                $("#CountyId").ComboBox({
                    url: "/SystemManage/Area/GetAreaListJson",
                    param: { parentId: value },
                    id: "AreaCode",
                    text: "AreaName",
                    description: "选择县/区",
                    height: "170px"
                });
            }
        });
        //县/区
        $("#CountyId").ComboBox({
            description: "选择县/区",
            height: "170px"
        });
        //加载导向
        $('#wizard').wizard().on('change', function (e, data) {
            var $finish = $("#btn_finish");
            var $next = $("#btn_next");
            if (data.direction == "next") {
                if (data.step == 1) {
                    if (!$('#form1').Validform()) {
                        return false;
                    }
                    $finish.removeAttr('disabled');
                    $next.attr('disabled', 'disabled');
                }
                if (data.step == 2) {
                    if (!$('#form1').Validform()) {
                        return false;
                    }
                }
                if (data.step == 3) {

                }
            } else {
                $finish.attr('disabled', 'disabled');
                $next.removeAttr('disabled');
            }
        });
        if (!!keyValue) {
            //设置控件值
            $.SetForm({
                url: "/QX360Manage/InsuranceCommpay/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    if (data != null) {
                        $("#form1").SetWebControls(data);
                        if (data.ProvinceId) {
                            $("#ProvinceId").trigger("change");
                        }
                        if (data.CityId) {
                            $("#CityId").ComboBoxSetValue(data.CityId).trigger("change");
                        }
                        if (data.CountyId) {
                            $("#CountyId").ComboBoxSetValue(data.CountyId);
                        }
                        //封面
                        if (data.FaceImage) {
                            $("#HidFaceImage").val(data.FaceImage);
                            var host = '@(System.Configuration.ConfigurationManager.AppSettings["ImageHost"] == "" ? string.Format("http://{0}{1}", Request.Url.Host, Request.Url.Port == 80 ? "" : ":" + Request.Url.Port) : System.Configuration.ConfigurationManager.AppSettings["ImageHost"])';
                            document.getElementById('uploadPreview').src = host + data.FaceImage;
                        }
                        if (data.Lng != null && data.Lat != null) {
                            $("#point").val("经度：" + data.Lng + ",纬度：" + data.Lat);
                        }
                        //图片
                        if (data.AttachmentPic) {
                            var html = "";
                            var imgslist = data.AttachmentPic;
                            if (imgslist) {
                                for (var i = 0; i < imgslist.length; i++) {
                                    var path = imgslist[i].PicName;
                                    _ImageList.push(path);
                                    var path = "@System.Configuration.ConfigurationManager.AppSettings["ImageHost"]" + path;
                                    html += '<li style=" background:#ccc;position:relative;"><a class="magnifier" href="' + path + '">';
                                    html += '<img src="' + path + '"/>';
                                    html += '</a>';
                                    html += '<i class="" style="position: absolute;left: 60px;bottom: 0px;background:url(/content/images/close11.png);width:32px;height:32px;">&nbsp;&nbsp;&nbsp;&nbsp;</i>';
                                    html += '</li>';
                                }

                                $("#imgs").append(html);
                                //绑定删除事件
                                $("#imgs li").each(function () {
                                    $(this).find("i").bind("click", function () {
                                        var src = $(this).parent().find("img").attr("src");
                                        //删除数组
                                        _ImageList.splice($.inArray(src, _ImageList), 1);
                                        //删除图片
                                        $(this).parent().remove();
                                    })
                                })
                                if (data.VideoContent) {
                                    $("#VideoContent").text(data.VideoContent);
                                }
                                //查看图片
                                jQuery('.magnifier').touchTouch();
                            }

                        }
                    }
                }
            });
        }

    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        postData["FaceImage"] = $("#HidFaceImage").val();
        postData["ImageListStr"] = JSON.stringify(_ImageList);
        postData["ProvinceId"] = $("#ProvinceId").attr('data-value');
        postData["ProvinceName"] = $("#ProvinceId").attr('data-text');
        postData["CityId"] = $("#CityId").attr('data-value');
        postData["CityName"] = $("#CityId").attr('data-text');
        postData["CountyId"] = $("#CountyId").attr('data-value');
        postData["CountyName"] = $("#CountyId").attr('data-text');
        postData["Content"] = encodeHtml(eidtor.getContent());
        postData["VideoContent"] = $("#VideoContent").text();
        $.SaveForm({
            url: "/QX360Manage/InsuranceCommpay/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    //初始化页面
    function InitialPage() {
        $(window).resize(function (e) {
        });
        uploadFacePic();

    }
    //设置位置坐标
    function SelectPoint() {
        var txt = "";
        var Province = $("#ProvinceId").attr('data-text');
        if (Province) {
            txt += Province;
        }
        var City = $("#CityId").attr('data-text');
        if (City) {
            txt += City;
        }
        var County = $("#CountyId").attr('data-text');
        if (County) {
            txt += County;
        }
        var address = $("#AddressInfo").val();
        if (!Province) {
            dialogMsg("请先选择区域", 0);
            return;
        }
        var x = $("#Lng").val();
        var y = $("#Lat").val();
        dialogOpen({
            id: "mappoint",
            title: '标注地图位置',
            url: '/BaiduMap/Index?x=' + x + "&y=" + y,//escape(txt + address),
            width: "1000px",
            height: "600px",
            btn: null
        });
    }

    function uploadFacePic() {
        $("#uploadPreview").unbind("click").bind("click", function () {
            $('#uploadFaceImage').trigger("click");
        })
        //上传图标
        $('#uploadFaceImage').change(function () {
            var f = document.getElementById('uploadFaceImage').files[0];
            var src = window.URL.createObjectURL(f);
            document.getElementById('uploadPreview').src = src;
            var formData = new FormData();
            //为FormData对象添加数据
            $.each($('#uploadFaceImage')[0].files, function (i, file) {
                formData.append('file', file);
            });

            //上传应用图标
            $.ajax({
                url: "/Upload/UploadFile",
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data && data.IsSuccess) {
                        $("#HidFaceImage").val(data.ResultData["files"]);
                    }
                    else {
                        alert(data.Message);
                    }
                }
            });
        });
    }

    // HTML编码
    function encodeHtml(value) {
        if (!value || value.length == 0) {
            return "";
        }

        return value.replace(/&/g, "&amp;")
                    .replace(/>/g, "&gt;")
                    .replace(/</g, "&lt;")
                    .replace(/'/, "&quot;");
    }


    /// <summary>
    /// HTML解码
    /// </summary>
    function decodeHtml(value) {
        if (!value || value.length == 0) {
            return "";
        };
        return value.replace(/&lt;/g, "<")
                    .replace(/&gt;/g, ">")
                    .replace(/&amp;/g, "&")
                    .replace(/&quot;/g, "'");
    }


    //上传产品图片
    function uploadPic() {
        $("#uploadFile").click();
        //上传图标
        $('#uploadFile').unbind("change").bind("change", function () {
            var formData = new FormData();
            //为FormData对象添加数据
            $.each($('#uploadFile')[0].files, function (i, file) {
                formData.append('file', file);
            });
            //
            //if (_ImageList.length > 4) {
            //    dialogMsg("最多可上传5帐封面图片", '0');
            //    return false;
            //}
            //上传应用图标
            $.ajax({
                url: "@System.Configuration.ConfigurationManager.AppSettings["ImageHost"]/Upload/UploadFile",
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data && data.IsSuccess) {
                        var path = data.ResultData["files"];
                        _ImageList.push(path);
                        //显示图片
                        var html = "";
                        var path = "@System.Configuration.ConfigurationManager.AppSettings["ImageHost"]" + path;
                        html += '<li style=" background:#ccc;position:relative;"><a class="magnifier" href="' + path + '">';
                        html += '<img src="' + path + '"/>';
                        html += '</a>';
                        html += '<i class="" style="position: absolute;right: -2px;;top: 0px;background:url(/content/images/close11.png);width:32px;height:32px;">&nbsp;&nbsp;&nbsp;&nbsp;</i>';
                        html += '</li>';


                        $("#imgs").append(html);
                        //绑定删除事件
                        $("#imgs li").each(function () {
                            $(this).find("i").bind("click", function () {
                                var src = $(this).parent().find("img").attr("src");
                                //删除数组
                                _ImageList.splice($.inArray(src, _ImageList), 1);
                                //删除图片
                                $(this).parent().remove();
                            })
                        })
                        //查看图片
                        jQuery('.magnifier').touchTouch();
                    }
                    else {

                    }
                }
            });
        });
    }

    function uploadVideo() {
        $("#uploadVideoFile").click();
        //上传图标
        $('#uploadVideoFile').unbind("change").bind("change", function () {
            var array = new Array('mp4');  //可以上传的文件类型
            if (!$("#uploadVideoFile").val()) {
                dialogMsg("请选择要上传的文件", 0);
                return false;
            }
            else {
                var fileContentType = $("#uploadVideoFile").val().match(/^(.*)(\.)(.{1,8})$/)[3]; //这个文件类型正则很有用：）
                var isExists = false;
                for (var i in array) {
                    if (fileContentType.toLowerCase() == array[i].toLowerCase()) {
                        isExists = true;
                    }
                }
                if (isExists == false) {
                    $("#uploadVideoFile").val("")
                    dialogMsg("请上传.mp4格式文件!", 0);
                    return false;
                }
            }

            var formData = new FormData();
            //为FormData对象添加数据
            $.each($('#uploadVideoFile')[0].files, function (i, file) {
                formData.append('file', file);
            });
            $("#iscompletedMsg").html("<span class='' style='color:#FF6600;'>正在处理...</span>");
            $("#iscompletedMsg").fadeIn();
            setTimeout(function () {
                //上传应用图标
                $.ajax({
                    url: "@System.Configuration.ConfigurationManager.AppSettings["ImageHost"]/Upload/UploadVideoFile",
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function (data) {

                    },
                    complete: function (data) {
                        $("#iscompletedMsg").fadeOut();
                    },
                    success: function (data) {
                        if (data && data.IsSuccess) {
                            $("#VideoContent").text(data.ResultData["files"]);
                            dialogMsg("上传成功", 1);
                        }
                        else {
                            alert(data.Message);
                        }
                    }
                });
            }, 200);
        });
    }
</script>
<style>
    #imgs li {
        float: left;
        margin-right: 5px;
    }

        #imgs li img {
            width: 100px;
            height: 100px;
        }
</style>
<div class="widget-body">
    <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
        <ul class="steps"> <li data-target="#step-1" class="active"> <span class="step"> 1</span> 基本信息<span class="chevron"> </span> </li> <li data-target="#step-2"> <span class="step"> 2</span> 详细信息<span class="chevron"> </span> </li>  </ul>
    </div>

    <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
        <div class="step-pane active" id="step-1">
            <div id="" style="margin: 10px; min-height: 450px">
                <table class="form">

                    <tr>
                        <td class="formTitle"> 公司名称<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="Name" type="text" class="form-control input-profile" isvalid="yes" checkexpession="NotNull" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle"> 封面</td>
                        <td>
                            <input type="hidden" id="HidFaceImage" />
                            <div style="text-align: center;">
                                <div class="" style="width: 100px; height: 100px;">
                                    <img id="uploadPreview" style="width: 100px; height: 100px; border-radius: 100px; border:0px" src="~/Content/images/add.png" />
                                    <input type="file" name="uploadFaceImage" id="uploadFaceImage" style="display:none">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle"> 公司地址<font face="宋体">*</font></td>
                        <td class="formValue">
                            <div style="float: left;">
                                <div id="ProvinceId" type="select" class="ui-select" style="float: left; width: 200px; margin-right: 1px;" isvalid="yes" checkexpession="NotNull"></div>
                                <div id="CityId" type="select" class="ui-select" style="float: left; width: 200px; margin-right: 1px;" isvalid="yes" checkexpession="NotNull"></div>
                                <div id="CountyId" type="select" class="ui-select" style="float: left; width: 200px; margin-right: 1px;"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle"> 详细地址<font face="宋体">*</font></td>
                        <td class="formValue">

                            <input id="AddressInfo" type="text" class="form-control input-profile" isvalid="yes" checkexpession="NotNull" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle"> 经纬度<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input type="hidden" id="Lng" />
                            <input type="hidden" id="Lat" />
                            <input id="point" type="text" class="form-control input-profile" readonly onclick="SelectPoint()" /><span onclick="SelectPoint()" class="input-button" title="选取坐标">...</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle"> 联系人<font face="宋体">*</font></td>
                        <td class="formValue"> <input id="ConectName" type="text" class="form-control input-profile" isvalid="yes" checkexpession="NotNull" /> </td>
                    </tr>
                    <tr>
                        <td class="formTitle"> 联系电话<font face="宋体">*</font></td>
                        <td class="formValue"> <input id="ConectTel" type="text" class="form-control input-profile" isvalid="yes" checkexpession="NotNull" /> </td>
                    </tr>
                    <tr>
                        <td class="formTitle"> 机构主图</td>
                        <td>
                            <input type="hidden" id="Hid_ImageListStr" />
                            <input type="file" name="uploadFile" id="uploadFile" style="display:none;">
                            <ul id="imgs">
                                <li><img src="/content/images/add.png" onclick="uploadPic()" /></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">是否有效</td>
                        <td class="formValue">
                            <div class="checkbox">
                                <label>
                                    <input id="Status" type="checkbox" checked="checked" />
                                    是
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle"> 排序号</td>
                        <td class="formValue">
                            <input id="SortNum" type="text" class="form-control input-profile" isvalid="yes" checkexpession="NumOrNull" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="step-pane" id="step-2">
            <table class="form">
                <tr>
                    <td class="formTitle">视频地址</td>
                    <td class="formValue">
                        <div style="text-align: left;">
                            <div class="" style="">
                                <img id="uploadPreview" onclick="uploadVideo()" style="width: 100px; height: 100px; border-radius: 100px; border:0px" src="~/Content/images/video3.png" />
                                <input type="file" name="uploadVideoFile" id="uploadVideoFile" style="display:none">
                                <label id="VideoContent"></label>
                                <span id="iscompletedMsg" style="display: none;"><font color='red'>正在处理，请稍候...</font></span>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td class="formTitle">描述</td>
                    <td class="formValue">
                        <div id="" style="margin: 10px;">
                            <textarea id="Content" class="clear" rows="6" style="width:100%"></textarea>
                            <div style="padding-top:10px;color:#999;@(string.IsNullOrWhiteSpace("") ? "" : "display:none;")" class="cor-red" id="destips">描述不能为空。</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="" id="wizard-actions" style="text-align:right;margin-bottom:0px;margin-right:10px">
    <a id="btn_last" disabled class="btn btn-default btn-prev"> 上一步</a>
    <a id="btn_next" class="btn btn-default btn-next"> 下一步</a>
    <a id="btn_finish" disabled class="btn btn-success"> 完成</a>
</div>

